@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(210, 225, 230);
}

.logo {
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-right: auto;
}

li, a , button {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
}

.navLinks {
    list-style: none;
    margin: auto;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: grey;
}

button {
    padding: 9px 25px;
    background-color: #308971;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

button:hover {
    background-color: rgba(48, 137, 113, 0.8);
}
