@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(210, 225, 230);
}


.logo {
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-right: auto;
}

li, a , button {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
}

.navLinks {
    list-style: none;
    margin: auto;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: grey;
}

button {
    padding: 9px 25px;
    background-color: #308971;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;

}

button:hover {
    background-color: rgba(48, 137, 113, 0.8);
}

.jumbotron {
    padding-top: 80px;
    padding-bottom: 50px;
}

.btn {
    background-color: #308971;
    border:rgba(37, 86, 73, 0.8);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
}

.btn:hover {
    background-color: rgba(48, 137, 113, 0.8);
}

.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    width: 40em;
    padding: 20px 50px;
    border: 1px solid #ccc;
    
}
    
.myForm * {
    box-sizing: border-box;
}
    
.myForm fieldset {
    border: none;
    padding: 0;
}
    
.myForm legend,
.myForm label {
    padding: 0;
    font-weight: bold;
}
    
.myForm label.choice {
    font-size: 0.9em;
    font-weight: normal;
}
    
.myForm input[type="text"],
.myForm input[type="email"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
}
    
.myForm textarea {
    height: 100px;
}
    
.myForm button {
    padding: 1em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-top: 1em;
}
    
.myForm button:hover {
    background: #ccc;
    cursor: pointer;
}